{% extends "auctions/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'frontend/auction/css/auctions.css' %}">
{% endblock css %}

{% block content %}
    <div class="fixed-head">
        <header class="header space-between">
            <div>
                <a href="#">
                    <img src="{% static 'frontend\auction\img\arrow-left.svg' %}" alt="back">
                </a>
                <p>Аукцион</p>
            </div>
            <div>
                <a href="{% url 'auctions:create' %}" style="color: gray; margin-right: 5px;">Создать игру +</a>
                <a class="info" href="#">
                    <span>i</span>
                </a>
            </div>
        </header>
        <div class="content">
            <div class="main-auction">
                <div class="gray auctions-title">Официальный аукцион</div>
                <div class="auction-item">
                    <div class="special-inner space-between">
                        <div class="main-data">
                            <h2>Аукцион №1</h2>
                            <div class="auction-members">
                                <span class="gray">Участников </span><span id="diamond-members"></span>/{{diamond_auction.max_members}}
                            </div>
                        </div>
                        <div class="main-img">
                            <a style="display: block;" href="{% url 'auctions:diamond' %}">
                                <img height="100%" src="{% static 'frontend\auction\img\arrow-right-big.svg' %}" alt="main-auction-photo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="desired-bet">
                <div style="font-size: 14px; margin: 7px;" class="space-between"><span>Желаемая ставка</span><span class="bet">$<span id='desired-bet'>1-10</span></span></div>
                <div class="bet-list space-between">
                    <input class='target-input' id="bet-1" type="radio" name="bet" value="1-10" checked>
                    <label for="bet-1" class="bet-item">
                        <p></p>
                    </label>
                    <input class='target-input' id="bet-2" type="radio" name="bet" value="10-100">
                    <label for="bet-2" class="bet-item">
                        <p></p>
                    </label>
                    <input class='target-input' id="bet-3" type="radio" name="bet" value="100-500">
                    <label for="bet-3" class="bet-item">
                        <p></p>
                    </label>
                    <input class='target-input' id="bet-4" type="radio" name="bet" value="500-1000">
                    <label for="bet-4" class="bet-item">
                        <p></p>
                    </label>
                </div>
            </div>
            <div style="padding-bottom: 10px;" class="gray auctions-title">Пользовательские аукционы</div>
        </div>
    </div>
    <div class="auctions">
        <div id="auctions-list" class="auctions-list">
        </div>
    </div>
    <div class="footer">
        <div class="footer-inner">
            <div class="games"></div>
            <div class="profile"></div>
            <div class="settings"></div>
        </div>
    </div>
    <script>

        const ws = new WebSocket('ws://localhost:8000/ws/auctions/');

        ws.onmessage = function(event) {
            let data = JSON.parse(event.data);
            document.getElementById('auctions-list').innerHTML = data.html;
            document.getElementById('diamond-members').innerHTML = data.diamond_members;
        }
    
        const inputs = document.querySelectorAll('.target-input');
        const desired_bet = document.getElementById('desired-bet');
    
        let intervalId;
    
        ws.onopen = function() {
            intervalId = setInterval(function() {
                ws.send(''); 
            }, 1000);
        };
    
        ws.onclose = function() {
            clearInterval(intervalId);
            window.location.replace(document.URL);
        };
    
        inputs.forEach(input => {
            input.addEventListener('click', function() {
                ws.send(this.value);
                console.log(desired_bet);
                desired_bet.innerHTML = this.value;
            });
        });

    </script>
{% endblock content %}
