{% extends "auctions/base.html" %}

{% load static %}
{% load humanize %}

{% block content %}
    <div>
        {% if not auction %}
            <h1>Аукцион окончен или не существует</h1>
            <h2>Ни одной ставки не было поставлено</h2>
            <h2>Общий банк - $0.00</h2>
        {% elif auction.leader %}
            <h1>Победитель аукциона {{auction.id}} - @{{auction.leader.owner.nickname}}</h1>
            <h2>Сумма ставок победителя - ${{auction.leader.deposit | intcomma}}</h2>
            <h2>Общий банк - ${{auction.common_bank | intcomma}}</h2>
        {% else %}
            <h1>Аукцион окончен или не существует</h1>
            <h2>Ни одной ставки не было поставлено</h2>
            <h2>Общий банк - $0.00</h2>
        {% endif %}
        <a href="{% url 'auctions:index' %}">Вернуться к аукционам</a>
    </div>
{% endblock content %}