{% extends "auctions/base.html" %}

{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontend/auction/css/auctions.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/auction/css/auction.css' %}">
{% endblock css %}

{% block content %}
    <div style="background-color: white; height: 380px;" class="fixed-head">
        <header class="header space-between">
            <div>
                <p>Аукцион</p>
                <p><span id="auction-members-1">{{auction.members_count}}</span>/{{auction.max_members}}</p>
            </div>
            <div>
                Время на ставку:&nbsp<span id="progressbar1-time">0:00</span>
            </div>
        </header>
        <div style="background-color: rgba(128, 128, 128, 0.119);">
            <div class="progressbar" id="progressbar1">
                <div class="progressbar-inner"></div>
            </div>
        </div>
        <div class="content">
            <div class="main-auction">
                <div class="auction-item">
                    <div class="space-between">
                        <div class="main-data">
                            {% if auction.owner %}
                                <h2>@{{auction.owner.nickname}}</h2>
                            {% else %}
                                <h2>DIAMOND</h2>
                            {% endif %}
                            <div class="auction-members">
                                <span class="gray">Участников </span><span id='auction-members-2'>{{auction.members_count}}</span>/{{auction.max_members}}
                            </div>
                        </div>
                        <div class="main-img">
                            <p>
                                <img height="100%" src="{% static 'frontend\auction\img\arrow-right.svg' %}" alt="main-auction-photo">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="auction-item">
                <div class="special-inner">
                    <div  id='leader-div'>

                    </div>
                    <div class="bet-time">     
                        Время на ставку: <span id="progressbar2-time">0:00</span>
                    </div>
                    <div style="background-color: rgba(128, 128, 128, 0.119);">
                        <div class="progressbar" id="progressbar2">
                            <div class="progressbar-inner"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="padding-bottom: 10px;" class="gray auctions-title">Участники аукциона</div>
        </div>
    </div>
    <div class="content-wrapper">
        <div id="users-list" class="users-list">
            {% for member in auctions.members.all %}
                {% include "auctions/includes/user_div.html" %}
            {% endfor %}
        </div>
        <div class="create-bet">
            <div class="user-bet space-between">
                <p>Сумма ставки</p>
                <p>Max:&nbsp$<span id="user-ballance">{{request.user.wallet.ballance}}</span></p> 
            </div>
            <div>
                <div class="bet-input">
                    <input placeholder="Введите ставку" type="number" name="bet-sum" id="bet-sum" value="{{auction.min_bet}}">
                </div>
                <button onclick="userBet()" class="bet-btn">
                    Сделать ставку
                </button>
            </div>
        </div>
    </div>
    <script>

        function progressBar(last, total) {

            let currentLast = last;
            let currentTotal = total;

            window.g_inteval = setInterval(function() {
                
                currentLast -= 1;
                document.getElementById('progressbar1').style.width = `${(100 * currentLast) / currentTotal}%`;
                document.getElementById('progressbar1-time').innerHTML = `${Math.floor(currentLast%currentTotal /60)}:${currentLast%60 < 10 ? '0' : ''}${currentLast%60}`;
                document.getElementById('progressbar2').style.width = `${(100 * currentLast) / currentTotal}%`;
                document.getElementById('progressbar2-time').innerHTML = `${Math.floor(currentLast%currentTotal /60)}:${currentLast%60 < 10 ? '0' : ''}${currentLast%60}`;

                if (currentLast == 0) {
                    clearInterval(g_inteval)
                    ws.send('over')
                }

            }, 1000)
            
        }

        let ws = new WebSocket('ws://localhost:8000/ws/auctions/{{auction.group_name}}/')

        function userBet() {

            let current_ballance = parseFloat(document.getElementById('user-ballance').innerHTML);
            let bet_value = parseFloat(document.getElementById('bet-sum').value);

            if (bet_value > current_ballance || bet_value < {{auction.min_bet}} ) {
                console.log('invalid bet');
                document.getElementById('bet-sum').style.border = "2px solid #FF0000";
            } else {
                document.getElementById('bet-sum').style.border = "none";
                ws.send(bet_value)
            }
            
        }

        ws.onmessage = function(event) {

            let data = JSON.parse(event.data);

            switch (data.event) {
                case 'members_handler':
                    document.getElementById('auction-members-1').innerHTML = data.count;
                    document.getElementById('auction-members-2').innerHTML = data.count;
                    break;
                case 'connect':
                    progressBar(data.time, data.total)
                    break;
                case 'incorrect_bet':
                    document.getElementById('bet-sum').style.border = "2px solid #FF0000";
                    document.getElementById('user-ballance').innerHTML = data.ballance;
                    break;
                case 'correct_bet':
                    document.getElementById('user-ballance').innerHTML = data.ballance;
                    break;
                case 'update_deposits':
                    document.getElementById('users-list').innerHTML = data.html;
                    document.getElementById('leader-div').innerHTML = data.leader;
                    if (data.update_timer) {
                        clearInterval(g_inteval)
                        progressBar(data.time, data.total)
                    }
            };

        };

        ws.onclose = function(event) {
            if (event.code == 3000) {
                window.location.replace('{% url "auctions:index" %}');
            } else {
                window.location.replace('{% url "auctions:over" group_name=auction.group_name %}');
            }
        };
    </script>
{% endblock content %}