{% extends "auctions/base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'frontend/auction/css/auctions.css' %}">
    <link rel="stylesheet" href="{% static 'frontend/auction/css/tictactoe.css' %}">
{% endblock css %}

{% block content %}
    <div style="display: none;" class="result">
        <p id='result'>
            Вы победили!
        </p>
        <a href="{% url 'tictactoes:index' %}">выйти</a>
    </div>
    <div style="background-color: white; height: 40px;" class="fixed-head">
        <header class="header space-between">
            <div>
                <p>Крестики-нолики {{game.format}}x{{game.format}}</p>
            </div>
            <div>
                <span id="move-time"></span>&nbsp<span id="progressbar1-time">Ожидание игрока.</span>
            </div>
        </header>
        <div style="background-color: rgba(128, 128, 128, 0.119);">
            <div class="progressbar" id="progressbar1">
                <div class="progressbar-inner"></div>
            </div>
        </div>
    </div>
    <div class="content" style="padding-top: 45px; height: 100%;">
        <div class="main-auction">
            <div class="auction-item">
                <div class="space-between">
                    <div class="main-data" style="align-items: center;">
                        <div style="display: flex;">
                            <div style="width: 55px; height: 55px; padding-right: 10px;">
                                <img width="100%" height="100%" style="border-radius: 50%;" src="{% static 'frontend\auction\img\avatar.jpg' %}" alt="user-image">
                            </div>
                            <div style="display: flex; flex-direction: column; justify-content: space-around;">
                                <h2 id="oponent-nickname">Поиск соперника..</h2>
                                <div class="auction-members">
                                    <span class="gray">Ваш опонент</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-img">
                        <p style="width: 45px; height: 45px;">
                            {% if user == game.first_player %}
                                <img id="first-player" class="my-move" style="display: none;" height="100%" width="100%" src="{% static 'frontend\auction\img\tictactoe-cross.svg' %}" alt="main-auction-photo">
                                <img id="second-player" class="opponent-move" height="100%" width="100%" src="{% static 'frontend\auction\img\tictactoe-cyrcle.svg' %}" alt="main-auction-photo">
                            {% else %}
                                <img id="first-player" class="opponent-move" height="100%" width="100%" src="{% static 'frontend\auction\img\tictactoe-cross.svg' %}" alt="main-auction-photo">
                                <img id="second-player" class="my-move" style="display: none;" height="100%" width="100%" src="{% static 'frontend\auction\img\tictactoe-cyrcle.svg' %}" alt="main-auction-photo">
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="map-wrap">
            <div class="map">

            </div>
        </div>
        <div class="bet">
            <div class="space-between">
                <div>Ставка:</div>
                <div>$5</div>
            </div>
        </div>
        <div class="footer">
            <button type="button" class="submit" onclick="UpdateMap()" disabled>
                <div>
                    Подтвердить ход
                </div>
            </button>
        </div>
    </div>
    <script>

        window.g_inteval = null

        function writeMap(map) {

            let map_div = document.querySelector('.map');
            map_div.style.setProperty('grid-template-columns', `repeat(${map.length}, 1fr)`);
            map_div.style.setProperty('grid-template-rows', `repeat(${map.length}, 1fr)`);

            inner = ''
            for (let row = 0; row < map.length; row++) {
                
                for (let column = 0; column < map[row].length; column++) {
                    
                    if (map[row][column] == 1) {
                        let move = document.getElementById('first-player');
                        inner+= `<input type="radio" name="place" id="${row}${column}" disabled><label for="${row}${column}" class="map-item"><img width="100%" height="100%" src=${move.src} alt=${move.id}></label>`;
                    } else if (map[row][column] == 2) {
                        let move = document.getElementById('second-player');
                        inner+= `<input type="radio" name="place" id="${row}${column}" disabled><label for="${row}${column}" class="map-item"><img width="100%" height="100%" src=${move.src} alt=${move.id}></label>`;
                    } else {
                        inner+= `<input type="radio" name="place" id="${row}${column}"><label for="${row}${column}" class="map-item"></label>`;
                    }
                
                }
            }
            map_div.innerHTML = inner;

        }

        function progressBar(last, total, player) {

            let currentLast = last;
            let currentTotal = total;
            let currentPlayer = player

            g_inteval = setInterval(function() {
                
                currentLast -= 1;
                document.getElementById('progressbar1').style.width = `${(100 * currentLast) / currentTotal}%`;
                document.getElementById('progressbar1-time').innerHTML = `${Math.floor(currentLast%currentTotal /60)}:${currentLast%60 < 10 ? '0' : ''}${currentLast%60}`;

                if (currentLast == 0) {
                    clearInterval(g_inteval)
                    {% comment %} ws.send('over') {% endcomment %}
                }

            }, 1000)
            
        }

        let ws = new WebSocket('ws://localhost:8000/ws/game/{{game.group_name}}/');

        ws.onmessage = function(event) {

            let data = JSON.parse(event.data);;

            switch (data.event) {
                case 'start':
                    document.getElementById('oponent-nickname').innerHTML = data.oponent
                    if (document.querySelector('.my-move').id == data.move) {
                        document.querySelector('.submit').disabled = false;
                        document.getElementById('move-time').innerHTML = 'Ваш ход';
                    } else {
                        document.getElementById('move-time').innerHTML = 'Ход опонента';
                    }
                    progressBar(60, 60, data.move)

                case 'update_map':
                    writeMap(data.map)
                    if (document.querySelector('.my-move').id == data.move) {
                        document.querySelector('.submit').disabled = false;
                        document.getElementById('move-time').innerHTML = 'Ваш ход';
                    } else {
                        document.getElementById('move-time').innerHTML = 'Ход опонента';
                    }
                    if (g_inteval) {
                        clearInterval(g_inteval)
                    }

                    progressBar(data.seconds, 60, data.move)
                    break;

                case 'winner':
                    writeMap(data.map)
                    clearInterval(g_inteval)
                    document.querySelector('.result').style.display = 'block'
                    console.log(document.getElementById("oponent-nickname").innerText, data.winner)
                    if (document.getElementById("oponent-nickname").innerText == data.winner) {
                        document.getElementById('result').innerHTML = 'Вы проиграли!'
                    } else {
                        document.getElementById('result').innerHTML = 'Вы победили!'
                    }
                    ws.close()

            };

        };

        function UpdateMap() {
            
            let place = document.querySelector('input[type="radio"]:checked')
            if (place) {
                document.querySelector('.submit').disabled = true;
                place.cheked = false;
                place.disabled = true;
                ws.send(`${document.querySelector('.my-move').id}/${place.id}`);
                {% comment %} let label_for_place = document.querySelector(`label[for="${place.id}"]`)
                label_for_place.style.border = 'none'
                move = document.querySelector('.my-move')
                label_for_place.innerHTML = `<img width="100%" height="100%" src=${move.src} alt=${move.id}>` {% endcomment %}
            }
        }


        writeMap({{game.clean_map}})




    </script>
{% endblock content %}