<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tictactoes</title>
</head>
<body>
    <div><a href="{% url 'users:games' %}">Назад</a></div>
    <div>
        <div>Выберите размер доски</div>
        <div><a href="{% url 'tictactoes:search' %}?map=3">3x3</a></div>
        <div><a href="{% url 'tictactoes:search' %}?map=5">5x5</a></div>
        <div><a href="{% url 'tictactoes:search' %}?map=8">8x8</a></div>
    </div>
</body>
</html>