body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;

}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-head {
    position: fixed;
    width: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1000;
    height: 275px;
    background-color: white;
}

.header {
    padding: 10px;
    background-color: white;
    font-size: 14px;
}

.header div {
    display: flex;
    align-items: center;
}

.header p {
    margin-left: 3px;
}

.info {
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.133);
}

.info span {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 2px;
    font-weight: 900;
}

.content {
    padding: 20px 10px 0;
    background-color: rgba(128, 128, 128, 0.119);
}

.gray {
    color: gray;
}

.auctions-title {
    font-size: 14px;
}

.auction-title {
    font-size: 14px;
    padding-bottom: 10px;
}

.main-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 55px;
}

.desired-bet {
    margin: 8px 0 20px;
}

.bet-list input {
    display: none;
}

.bet-list input:checked + label{
    background-color: #0296c7;
}

.bet-item {
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 8px;
    width: 23%;
    cursor: pointer;
}

.bet-list p {
    height: 13px;
}

.auctions {
    position: relative;
    top: 265px;
    padding: 0 10px;
    background-color: rgba(128, 128, 128, 0.119);
}

.auction-item {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 10px;
}

.go-auction {
    display: flex;
    padding: 5px;
    background-color: #0296c70c;
    border-radius: 50%;
}


.min-bet {
    margin: 18px 0;
}

.auction-members {
    font-size: 16px;
}

